.quote {
    position: relative;
    text-align: center;
    top: 120px;
    font-size: 33px;
}

.video{
    position: relative;
    top: 150px;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.story {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 100%;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}